/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* -----ここから下に記述してください----- */

html{
    font-size:20px;
}

.header{
    width:100%;
    background:rgba(000, 000, 000, .3);
    position:fixed;
    z-index:1000;
    padding:30px;
}

.header-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

    color:white;
    align-items:center;
}

.header-left{
    font-family:cursive;
    font-size:1.5rem;
    padding:0 20px;
}

.header-list{
    display:flex;
}

.header-list li{
    margin-right:24px;
    padding-right:12px;
}
.header-list li a{
    text-decoration:none;
    color:white;
    position:relative;
}
.header-list li a::after{
    content:"";
    width:0;
    height:1px;
    background:white;
    position:absolute;
    bottom:-8px;
    left:50%;
    transform:translatex(-50%);
    transition:all .4s;
}

.header-list li a:hover::after{
    content:"";
    width:100%;
}

.header-container input,
.header-container label{
    display:none;
}

/* -----------キーヴィジュアル---------- */

.main-kv{
    background-image:url(../../assets/images/kv.jpg);
    width:100%;
    height:100vh;
    background-position:center right;
    object-fit:cover;
    position:relative;
    margin-bottom:120px;
}
.main-kv h1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:3.8rem;
    font-weight:bold;
    font-family:fantasy;
    text-shadow:black 15px 15px;
    opacity:0;
    animation: fadeIn 4s ease;
    animation-fill-mode: both;
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

/*  ----------コンセプトセクション------- */

.contents{
    width:100%;
    margin-bottom:160px;
}
.contents-title{
    font-size:2rem;
    color:black;
    text-align:center;
    font-family:fantasy;
    margin-bottom:80px;   
    position:relative;
    font-weight:bold;
}
.contents-title::after{
    content:"";
    width:40px;
    height:2px;
    background:black;
    position:absolute;
    bottom:-4px;
    left:50%;
    transform:translatex(-50%);
}
.contents-container{
    width:100%;
    max-width:1080px;
    margin:auto;
}

.concept-container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.concept-image{
    width:calc(50% - 40px);
}
.concept-image img{
    width:100%;
}
.concept-text{
    width:calc(50% - 40px);
    overflow-y: auto;
    height:630px;
}
.contents-sub-title{
    font-weight:bold;
    text-align:center;
    margin-bottom:20px;
    width:100%;
    font-size:1.3rem;
}
.contents-sub-title::before,
.contents-sub-title::after{
    content:"";
    width:30px;
    height:2px;
    background:black;
    display:inline-block;
    vertical-align:5px;
}
.contents-sub-title::before{
    margin-right:8px;
}
.contents-sub-title::after{
    margin-left:8px;
}


/* ------------アプリケーション------------ */

.application-container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    justify-content: space-between;
}
.application-image{
    width:60%;
}
.application-image-bg{
    background-image: url(../../assets/images/main_02.jpg);
    background-position:center center;
    width:100%;
    height:600px;
    background-size:cover;
    background-repeat:no-repeat;
}
.application-text{
    width:calc(40% - 30px);
    font-size:.9rem;
    line-height:2rem;
    padding:20px;
    position:relative;
}
.application-text span{
    font-weight:bold;
    font-size:1.3rem;
}
.application-text .contents-sub-title{
    text-align:left;
}

.application-text::before{
    content:"";
    width:calc(100% + 200px);
    height:calc(100% + 200px);
    background:rgba(193, 193, 193,.2);
    position:absolute;
    z-index:-1;
    right:0;
    bottom:-100px;
}

/* --------------ギャラリー----------- */

.gallery .contents-title{
    padding-top:80px;
}

.gallery-container{
    background-image:url(../../assets/images/main_03.jpg);
    background-repeat:no-repeat;
    background-position:center right;
    background-size:cover;
    width:100%;
    height:400px;
    
}
.gallery-mask{
    background:rgba(255, 255, 255, .6);
    height:100%;
    width:100%;
}

.gallery-text{
    width:70%;
    margin:auto;
    font-weight:bold;
    word-break:break-all;
    line-height:2rem;
    font-size:1rem;
}

.gallery-text .contents-sub-title{
    padding-top:80px;
}

/* ----------------カード------------- */

.card-container{
    width:100%;
    max-width:1280px;
    margin:auto;
}

.card-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.card-list h3{
    margin-bottom:12px;
    font-size:1.1rem;
}

.card-list li{
    width:calc(30% + 15px);
    margin-bottom:50px;
}
.card-list li img{
    width:100%;
    height:600px;
    object-fit:cover;
    border:2px solid;
    padding:4px;
}
.card-list p{
    font-size:1rem;
}

/* ------------レスポンシブ----------- */

@media screen and (max-width:768px){
    html{
        font-size:16px;
    }

    /* ヘッダー */
    .header{
        padding:10px;
    }
    .header-left h2{
        font-size:1.2rem;
    }
    .header-container input,
    .header-container label{
        display:block;
    }
    .header-container input{
        display:none;
    }
    .header-container label{
        position:absolute;
        right:10px;
        clear:both;
    }
    span.hamburger__icon{
        display:inline-block;
        width:35px;
        height:25px;
    }
    span.hamburger__icon i{
        position: absolute;
        width:100%;
        height:2px;
        background:#fff;
        display:block;
        transition:all .3s ease-in-out;
    }
    span.hamburger__icon i:nth-child(1){
        top:0;
    }
    span.hamburger__icon i:nth-child(2){
        margin:auto;
        top:0;
        bottom:0;
    }
    span.hamburger__icon i:nth-child(3){
        bottom:0;
    }
    .header-container input:checked + label span.hamburger__icon i:nth-child(1){
        margin:auto;
        transform:rotate(45deg);
        right:0;
        bottom:0;
        left:0;
        top:0;
    }
    .header-container input:checked + label span.hamburger__icon i:nth-child(2){
        transform:rotateX(90deg);
        top:0;
        bottom:0;
    }
    .header-container input:checked + label span.hamburger__icon i:nth-child(3){
        margin:auto;
        transform: rotate(-45deg);
        top:0;
        right:0;
        bottom:0;
    }
    .header-container input:checked ~ .header-navi{
        z-index:99;
        opacity:1;
        transform:translateX(0);
    }
    .header-navi{
        position:fixed;
        opacity:0;
        background-color:rgba(255, 255, 255, 0.7);
        top:50px;
        right:0;
        transform: translateX(100%);
        bottom:0;
        left:0;
        z-index: -1;
        transition: all 1s ease-out;
    }
    .header-right{
        width:100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0;
        transition-duration: 1s;
        transition-property: right;
        overflow-y: scroll;
    }
    .header-container input:checked ~ .header-navi .header-right{
        right:0;
    }
    .header-list{
        margin:0;
        display:block;
        justify-content: inherit;
    }
    .header-list li{
        border-bottom:1px solid #000;
    }
    .header-list li a{
        padding:0 50px;
        color:#000;
        font-size:24px;
        height:100px;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content: center;
        font-weight:700;
        line-height:1;
        transition: .3s ease-in-out;
    }

    .main-kv{
        height:100vh;
        background-position:center right -200px;
    }
    .main-kv h1{
        width:100%;
        text-align:center;
        font-size:2.6rem;
    }

   

    /* コンセプト */ 
    .concept-image{
        width:100%;
        margin-bottom:40px;
    }
    .concept-text{
        width:100%;
        padding:20px;
    }
/* アプリケーション */
  .application-image{
      width:100%;
      
  }
  .application-text{
      width:100%;
      padding:30px 40px;
      background-color: #f4f4f4;
      margin:auto;
  }
   .application-text .contents-sub-title{
       text-align:center;
   }
   .application-text::before{
       content:none;
   }
   .application{
    margin-bottom:60px;
   }

   /* ギャラリー */
   .gallery-container{
       width:auto;
       height:calc(100% - 60px);
   }
   .gallery-text{
       padding:30px 20px;
   }
   .gallery-container .contents-sub-title{
       padding-top:20px;
   }
    
   /* カード */

   .card-container{
       width:100%;
   }
   .card-list{
       display:block;
   }
   .card-list li{
       width:100%;
       padding-right:0;
   }
   .card-list li img{
       width:100%;
   }
}
